@font-face {
  font-family: KinetikaRegular;
  src: url(../assets/fonts/KinetikaRegular.ttf);
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
  }
  100% {
     box-shadow: 0 0 0 20px rgba(255,255,255,0);
  }
}

.App {
  text-align: center;
  background-image: url(../assets/images/appBackground.svg);
  background-repeat:no-repeat; 
  background-size:contain;
  background-position:bottom;
  background-attachment: fixed;
  height: 500vh;
  width: 100%;
  margin:auto;
  display:flex;
  flex-direction:column;
  position:relative;
  align-items:space-between;
}


.text {
  font-size:3vmin;
  line-height: 1.5; 
  font-family:KinetikaRegular; 
  box-sizing:border-box;
  padding:10%;
  text-align:center; 
  border:1px solid white;
  border-radius:30px;
  animation: animated-border 1.5s infinite;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.aboutUs {
  width:50%;
  height:10%;
  position:absolute;
  left:10%;
  top:40%;
}

.Aida{
  width:40%;
  height:10%;
  position:absolute;
  top:70%;
  left:10%;
}

.AK{
  width:40%;
  height:10%;
  position:absolute;
  left:50%;
  top:55%;
}


